.card {
  background: var(--color-gray-200);
  border-radius: 32px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 32px;
  max-width: 600px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 512px;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
